body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #606C38;
    color: #FEFAE0;
    border-bottom: 8px ridge #283618;
    border-radius: 25px; 
    flex-direction: row-reverse;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h3, p, h4 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3:hover {
    background-color: #DDA15E; 
}

.border-blue {
    border: 1px double blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

